@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,200&display=swap');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
}

#title {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 48px;
}