@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,200&display=swap');

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main page styling */
#title {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 48px;
}

/* Image Section Styling */
 #img-div {
   margin: 8px 0;
 }

 #img-caption {
   font-style: italic;
   font-size: 14px;
   text-align: center;
 }